.table{
    table-layout: fixed;
    width: 400px;
    border-collapse: collapse;
    border: 3px solid black;
}

.thead{
    color: white;
    background-color: rgb(66, 64, 64);
}
.tr:nth-child(even) {
    background-color: #cac8c8f1;
  }

.th{
    border: 1px solid black
}